.list {
  display: grid;
  gap: 16px;
}

.prev {
  transform: scaleX(-1);
}

.page {
  margin: 6px 12px;
}

.icon {
  height: 32px;
}

.pagination {
  display: flex;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
