.card {
  background-color: white;
  display: flex;
  border-radius: 8px;
  padding: 24px;
}

.card:hover {
  cursor: pointer;
}

.image {
  width: 100px;
  height: 120px;
  border-radius: 8px;
  object-fit: cover;
  vertical-align: top;
}

.type {
  font-family: 'SF Pro Display';
  color: #ababab;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  vertical-align: top;
  padding: 6px 0;
}

.text {
  font-family: 'SF Pro Display';
  color: black;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  padding: 6px 0;
  vertical-align: top;
}

.title {
  width: 100%;
  font-size: 20px;
  font-weight: 600;
}

.table {
  margin-left: 24px;
  border-collapse: collapse;
  width: 80%;
}

.line {
  height: 20px;
  padding: 12px 0;
}

.rating {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  margin-left: auto;
  width: fit-content;
}

.info {
  display: flex;
  width: 80%;
}
